.statics {
  background-color: var(--secondary-background-color);

  .container {
    background-image: url(../images/Statics/World\ Map.png);
    background-position: top center;
    background-size: cover;

    .info {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap;
      .item {
        background-color: #fff;
        height: 250px;
        width: 250px;
        border-radius: 0.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        img {
          width: 42px;
          height: 42px;
        }
        h4 {
          font-family: 'Open Sans';
          font-size: 36px;
        }
      }
    }
  }
}
