@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-transition: 0.3s;
  --main-color: #00a651;
  --secondary-background-color: #ecf1f0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-header {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  background: radial-gradient(#bdbdbd, #fdfdfd);
  margin: 3rem 0;
}

.services,
.statics,
.destinations,
.packages {
  padding: 4rem 0;
  .header {
    text-align: center;
    margin: 3rem 0;
    h3 {
      text-transform: capitalize;
      font-family: 'Open Sans';
      font-size: clamp(2vw, 30px, 6vw);
      max-width: 518px;
      margin: auto;
    }
    p {
      max-width: 495px;
      margin: 1rem auto;
    }
  }
}
